@import url("themes.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* general styles for all pages*/

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

p {
    text-align: center;
    font-size: larger;
    color: var(--text-color);
    margin: 0 auto;
    margin-bottom: 50px;
    width: 70%;
}

h1{
    color: var(--title-color1);
    text-align: center;
    margin-top: 45px;
    margin-bottom: 20px;
    font-size: 4em;
    display: block;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.894);
}

h2, h3, h4, h5, h6 {
    color: var(--title-color2);
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
    text-shadow: -3px 3px 5px hsla(195, 82%, 76%, 0.787);
}

.decorative-bar {
height : 40px; /*height of the decorative bar*/
  --s: 8px; /* control the size*/
  --c1: var(--background-color);
  --c2: var(--accent-color);
  
  --c:#0000,var(--c1) .5deg 120deg,#0000 120deg;
  --g1:conic-gradient(from  60deg at 56.25% calc(425%/6),var(--c));
  --g2:conic-gradient(from 180deg at 43.75% calc(425%/6),var(--c));
  --g3:conic-gradient(from -60deg at 50%   calc(175%/12),var(--c));
  background:
    var(--g1),var(--g1) var(--s) calc(1.73*var(--s)),
    var(--g2),var(--g2) var(--s) calc(1.73*var(--s)),
    var(--g3) var(--s) 0,var(--g3) 0 calc(1.73*var(--s)) 
    var(--c2);
  background-size: calc(2*var(--s)) calc(3.46*var(--s));
}

.navbar {
  /*navigation bar for the website*/
    height: 70px;
    background-color: var(--dark-accent);
    color: var(--text-color);
    padding: 20px;
    border: 2px solid var(--accent2-color) !important;
    position: -webkit-sticky;
    position: sticky;
}

.nav-link{
    color: var(--accent2-color);
    font-size: 1.5em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.894);
}

.nav-link:hover{
    color: var(--accent-color)

}

.navbar-name {
    color: var(--accent-color);
    font-size: 2em;
    text-shadow: 3px 3px 4px rgba(8, 46, 92, 0.952);
}

.logo {
  /*circular logo image on the navigation bar*/
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}

.contactinfo {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.copyright {
    font-size: .9em;
    margin: 0;
}   

.attribution {
    font-size: 0.8em;
    margin: 0;
}

.footerInfo p{
    margin: 0px; 
    padding: 0px;
}
.footerInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Adjust this value */
}



/*index page styles*/

.homeCTA {
    color: var(--text-color);
    margin-top: 10px;
    margin-bottom: 100px;
}

.main-page-image {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--background-color);
    margin-top: 35px;
    margin-bottom: 80px;
}

.main-page-image2{
    height: 500px;
    width: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.skillText {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 4.5em;
}

.skillsGroup {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 150px;
}

.skillsbtn-group{
    display: grid;
    grid-template-columns: repeat(4, 180px);
    justify-items: center;
    gap: 35px;
}

.iconBtn {
    background-color: var(--background-color);
    border: 2px solid var(--background-color);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconBtn:hover {
    background-color: var(--accent2-color);
    transform: scale(1.1);
    border: 2px solid var(--text-color);
}

.skill-icon {
    height: 100px;
    width: 100px;
    object-fit: cover;
}


/* About page styles */


.about-image {
    width: 450px;
    height: auto;
    object-fit: cover;
}
.about-bottom-image {
    width: 650px;
    height: auto;
    border-radius: 30%;
    object-fit: cover;
    margin-top: 80px;
    margin-bottom: 140px;
}

.contactMe{
    color: var(--title-color1);
    font-size: 3em;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.952);
}
.form-label{
    color: var(--text-color);
}
.formSubmit{
background-color: var(--accent2-color);
color: var(--background-color);
border-color: white;
border-width: 2px;
}

.formSubmit:hover {
background-color: #3e8ea4;
color: var(--background-color);
border-color: var(--background-color);
border-width: 2px;
}

.frosted-card{
    background-color: rgba(27, 98, 152, 0.441);
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 8px 32px 5px rgba(0, 0, 0, 0.37);
    margin-top: 20px;
    margin-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom:15px;
}


.popup {
  width: 380px;
  height: 320px;
  background: rgb(17, 82, 131);
  border: 2px solid var(--accent2-color);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px; 
  color: white; 
  visibility: hidden;
  transition: transform o.4s;
}

.popup button{
  width: 100px;
  background: var(--accent2-color);
    border: 2px solid var(--accent5-color);
    color: var(--background-color);
  border-radius: 5px;
  cursor: pointer;
}

.popup button:hover{
    background: var(--accent-color);
  border: 2px solid var(--accent2-color);
  color: white;
}

.popup.open-popup{
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

/* Projects page styles*/ 

.project-top-image {
    width: 500px;
    height: 275px;
    border-radius: 55%;
    object-fit: cover;
    margin-top: 25px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 80px rgba(7, 0, 0, 0.736);
    padding-top: 10px;
    padding-bottom: 35px; 
}

.projects-bottom-image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-image {
    width: 400px;
    height: auto;
    border-radius: 30%;
    object-fit: cover;
    border: 4px solid; 
    border-color: var(--background-color);
    padding-top: 20px;
    padding-bottom: 20px;
} 

.indepTitle{
    padding-top: 20px;
    padding-bottom: 30px;
}

.indepText {
    padding-top: 30px;
    padding-bottom: 20px;
}

.guidedTitle{
    padding-top: 10px;
    padding-bottom: 20px;
}

.guidedText{
    padding-top: 30px;
    padding-bottom: 10px;

}

.carousel-item {
    width: 80%;
    height: auto;
    padding: 5%;
}

.carouselImg{
    height: 400px;
    width: 100%;
    border-radius: 20%;
    border-style: solid;
    border-color: var(--accent5-color);
    border-width: 5px;
    object-fit: cover;
    margin: 0 auto;
}
.carousel-caption h5{
    opacity: 0;
    color: var(--accent-color);
    font-size: 3em;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.952); 
    transition: opacity 0.3s ease-in-out;
    padding-bottom: 20%;
      
}
.carousel-item:hover .carousel-caption h5{
    opacity: 1;     
}

/* Training page styls*/ 
.trainTitle{
    margin-top: 50px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coverImage{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mountain-img{
    width: 75%;
    height: 350px;
    mask-image: radial-gradient( black 65%, transparent 70%);
    margin-top: 20px;
    margin-bottom: 60px;
}

.training-image {
    width: 450px;
    height: auto;
    border-radius: 0px;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 30px;
}

.certImg{
    display: flex;
    width: 250px;
    height: auto;
    border-radius: 10%;
    margin: 30px;
}

.wordCloud{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.study-Logo{
    width: 260px;
    height: 260px; /*height of the decorative bar*/
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  --s: 8px; /* control the size*/
  --c1: var(--background-color);
  --c2: var(--accent-color);
  
  --c:#0000,var(--c1) .5deg 120deg,#0000 120deg;
  --g1:conic-gradient(from  60deg at 56.25% calc(425%/6),var(--c));
  --g2:conic-gradient(from 180deg at 43.75% calc(425%/6),var(--c));
  --g3:conic-gradient(from -60deg at 50%   calc(175%/12),var(--c));
  background:
    var(--g1),var(--g1) var(--s) calc(1.73*var(--s)),
    var(--g2),var(--g2) var(--s) calc(1.73*var(--s)),
    var(--g3) var(--s) 0,var(--g3) 0 calc(1.73*var(--s)) 
    var(--c2);
  background-size: calc(2*var(--s)) calc(3.46*var(--s));
}

.logoSection{
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.study-Logo img{
    height: 190px;
    width: 190px; 
    border-radius: 10%;
    justify-content: center;
    align-items: center;
}

.LogoCompText{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.LogoCompText p{
    padding: 0;
    margin:0;
}

.Certs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
}









/* media queries for adusting elements for different screen sizes */
/* mobile 320px to 480px, tablet 481px to 768px, desktop 769 px and up */

@media (max-width: 480px){
h1{
    font-size: 1.4em;
}

p {
    text-align: center;
    font-size: .9em;
    margin-bottom: 30px;
}

.decorative-bar {
height : 20px; /*height of the decorative bar*/
  --s: 6px; /* control the size*/
  --c1: var(--background-color);
  --c2: var(--accent-color);
  
  --c:#0000,var(--c1) .5deg 120deg,#0000 120deg;
  --g1:conic-gradient(from  60deg at 56.25% calc(425%/6),var(--c));
  --g2:conic-gradient(from 180deg at 43.75% calc(425%/6),var(--c));
  --g3:conic-gradient(from -60deg at 50%   calc(175%/12),var(--c));
  background:
    var(--g1),var(--g1) var(--s) calc(1.73*var(--s)),
    var(--g2),var(--g2) var(--s) calc(1.73*var(--s)),
    var(--g3) var(--s) 0,var(--g3) 0 calc(1.73*var(--s)) 
    var(--c2);
  background-size: calc(2*var(--s)) calc(3.46*var(--s));
}

.navbar {
  /*navigation bar for the website*/
    height: 40px;
    background-color: var(--dark-accent);
    color: var(--text-color);
    border: 2px solid var(--accent2-color) !important;
    position: -webkit-sticky;
    position: sticky;
    padding: 0px;
    margin: 0px;

}

.nav-link{
    font-size: .9em;
    margin: 0;
    padding: 0;
}

.nav-link:hover{
    color: var(--accent-color)
}

.navContainer{
    display: flex;
    margin: 0;
    padding: 0;
    gap:0px;
}

.navbar-name {
    display: none;
}

.logo {
    height: 40px;
    border-radius: 50%;
}


.contactinfo {
    font-size: .9em;
    margin-bottom: 5px;
}

.copyright {
    font-size: .7em;
    margin: 0;
    margin-bottom: 2px;
}   

.attribution {
    font-size: 0.6em;
    margin: 0;
    width: 50%;
}

.footerInfo p{
    margin: 0px; 
    padding: 0px;
    gap: 5px;
}
.footerInfo {
    display: flex;
    align-items: center;
}

/* main page styles*/

.main-page-image{ 
    width: 180px;
    height: 180px;
    margin: 10px;
    margin-bottom: 20px;
}

.homeCTA {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 1em;
}

.main-page-image2{
    height: 150px;
    width: auto;
    margin-top: 20px;
}

.skillText {
    margin-top: 35px;
    margin-bottom: 20px;
    font-size: 2.4em;
}

.skillsGroup {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 70px;
}

.skillsbtn-group{
    display: grid;
    grid-template-columns: repeat(2, 110px);
    justify-items: center;
    gap: 20px;
}

.iconBtn {
    background-color: var(--accent2-color);
    border: 2px solid var(--text-color);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: 77px;
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconBtn:hover {
    transform: scale(1.1);
}

.skill-icon {
    height: 48px;
    width: 48px;
    object-fit: cover;
}

/* About page styles */

.about-image {
    width: 250px;
    height: auto;
    margin-bottom: 20px;
}
.about-bottom-image {
    width: 280px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.contactMe{
    color: var(--title-color1);
    font-size: 2em;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.952);
}

.form-label{
    font-size: .9em;
}

.frosted-card{
    margin-top: 30px;
    margin-bottom: 30px;
}


.popup {
  width: 250px;
  height: 450px;
}


}
