:root{
    --background-color: #06233b;
    --dark-accent: #04527e; 
    --text-color: #ffffff;
    --text-button: #005a8d;
    --accent-color: #1ef68ada;
    --accent2-color: #97daed;
    --accent3-color: #80e2a1;
}